.chat-input-form {
  grid-row: 2;
  gap: 5%;
  display: flex;
  height: var(--input-size);
  justify-items: center;
  --input-size: 60px;
  --max-input-size: 200px;
}

.chat-input-div {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  min-height: var(--input-size);
  max-height: var(--max-input-size);
}

.chat-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
  background-color: var(--primary-color);

  align-content: center;
  font-size: 15px;

  resize: none;

  scrollbar-width: none;

  overflow-y: auto;
  overflow-wrap: anywhere;

  box-shadow: 0px 0px 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;

  width: 50%;
  min-height: var(--input-size);
  max-height: var(--max-input-size);

  padding-left: 25px;
  padding-right: 100px;
}

.chat-input-placeholder {
  position: absolute;

  align-self: center;
  pointer-events: none;

  z-index: 1;

  width: 100%;

  text-align: start;

  padding-left: 25px;
}

.chat-input-char-limit {
  position: absolute;

  align-self: center;
  pointer-events: none;

  color: gray;
  z-index: 1;

  width: 100%;

  text-align: end;

  margin-right: 10px;
  margin-left: -10px;
}

.chat-send-button,
.chat-extras-button {
  align-self: end;
  font-size: 1rem;

  min-width: var(--input-size);
  max-width: var(--input-size);
  min-height: var(--input-size);
  max-height: var(--input-size);
  border-radius: 100%;

  background-color: var(--primary-color);
}
