.profile-top-bar {
  background-color: var(--bg);
  border-bottom: 1px solid white;
  font-size: 1rem;

  z-index: 2;

  grid-row: 2;

  box-sizing: border-box;
  width: 100%;
  height: 60px;

  word-break: break-word;
  border-radius: 100px;

  grid-column: 1 / span 3;
  justify-self: center;
  width: 100%;

  grid-row: 1;

  margin-top: env(safe-area-inset-top);
  padding-left: calc(1em + env(safe-area-inset-left));
  padding-right: calc(1em + env(safe-area-inset-right));
}

.tauri-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0px;
  height: 50px;
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
  padding-bottom: 10px;
  margin-top: 10px;
}

.top-bar-content {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.tauri-top-bar-content {
  width: fit-content;
}

.login-signup-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  margin-left: auto;
  gap: 5px;
}

.profile-picture-button {
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  justify-self: end;
  margin-left: auto;
  border-radius: 100%;
  border: 0px;
}

.profile-picture-div {
  position: relative;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  justify-self: end;
  margin-left: auto;
  border-radius: 100%;
  border: 0px;
}

.profile-picture {
  position: absolute;
  inset: 0;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
}

.profile-panel-div {
  z-index: 3;
  position: absolute;
  background-color: var(--bg);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  gap: 10px;
  margin-top: 5px;
  padding: 50px;
  box-shadow: 0px 0px 10px var(--primary);
  overflow: hidden;
}

.profile-panel-not-tauri {
  right: 0;
}

.login-signup-button {
  width: max-content;
  width: auto;
  position: relative;
}

.profile-panel-username {
  font-weight: bold;
  font-size: 30px;
  white-space: nowrap;
  margin: 0;
}

.password-error-text {
  position: initial;
  font-size: 10px;
  text-align: left;
  flex: 1;
  transform: translateY(-15px);
  font-style: italic;
  color: red;
}

.warning-text {
  font-size: 10px;
  text-align: left;
  flex: 1;
  transform: translateY(-15px);
  font-style: italic;
  color: rgb(200, 0, 0);
}

.tauri-panel-form {
  left: 50%;
  transform: translateX(-50%);
}

.login-signup-panel-button {
  flex-basis: 100%;
}

.login-signup-panel-button,
.OAuth-button {
  width: max-content;
}

.login-signup-input {
  margin: 0;
  flex: 1;
  height: 30px;
  justify-self: end;
  margin-left: auto;
  flex-basis: 100%;
  padding: 10px;
}

.profile-panel-profile-picture {
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 3px;
  border-style: solid;
  border-color: var(--primary);
  width: 150px;
  height: 150px;
  background-color: var(--primary);
  justify-self: center;
}

.profile-panel-background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(75px);
  -moz-filter: blur(75px);
  -o-filter: blur(75px);
  -ms-filter: blur(75px);
  filter: blur(50px);
  z-index: -1;
}

.profile-panel-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.profile-panel-role {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: min-content;
  border-radius: 50px;
  padding: 5px;
  background-color: green;
  border: 1px solid lightgreen;
}

.login-signup-panel-divider {
  flex-basis: 100%;
}

@media screen and (max-width: 800px) {
  .profile-top-bar {
    grid-column: 1;
  }
}
