@import url("../../index.css");

.games-list {
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  margin: 1em;
  overflow-y: auto;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}

.fullscreen-game {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
}

.games-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 2%;
}

.games-list-button {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .games-list {
    grid-column: 1 / span 3;
  }
}
