@import url("../../index.css");

.list-window {
  padding: 1em;
  background-color: var(--bg);
  font-size: 1rem;
  margin-top: 1em;
  overflow-y: auto;
  word-break: break-word;
}

.fullscreen-game {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
}

.list {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
}

.list-button {
  width: 100%;
  height: 100%;
}

.list-button-important {
  width: 25%;
  height: 25%;
}

.no-list-notice {
  place-self: start;
}

@media screen and (max-width: 800px) {
  .list {
    grid-column: 1 / span 3;
  }
}
