@import url("../../index.css");

.list-container {
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  margin-top: 1em;
  overflow-y: auto;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  display: flex;
  flex-direction: column;
}

.list {
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  margin-top: 1em;
  overflow-y: auto;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 2%;
}

.fullscreen-game {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
}

.list-button {
  width: 100%;
  height: 100%;
}

.list-button-important {
  width: 25%;
  height: 25%;
}

.no-list-notice {
  place-self: start;
}

@media screen and (max-width: 1000px) {
  .list {
    grid-column: 1 / span 3;
  }
}
