@import url("../../App.css");

input {
  width: 100%;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
}

.setting-panel {
  border: 2px solid;
  background-color: var(--primary);
  border-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px;

  aspect-ratio: 1 / 1;
}

.setting-button,
.setting-element {
  place-self: center;
  text-align: center;
}

.setting-button {
  background-color: var(--secondary);
}

.setting-delete-button {
  background-color: red;
}

.setting-input {
  color: var(--secondary);
}

.setting-error {
  color: red;
  font-weight: bold;
}

.settings-page {
  /* background-color: var(--bg); */
  font-size: 1rem;
  padding: 1em;
  margin: 1em;

  overflow-y: auto;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 1000px) {
  .settings-page {
    grid-column: 1 / span 3;
  }
}
