@import url("../../../index.css");

.user-container-dark,
.user-container-light {
  display: grid;
  grid-template-columns: min-content auto;
  padding: 5px;
  width: 80%;
  place-self: center;
  align-items: center;
  gap: 10px;
  /* border-radius: 0; */
  /* border-top: 1px solid black; */
}

.user-container-dark {
  background-color: var(--primary);
}

.user-container-light {
  background-color: var(--secondary);
}

.user-profile-picture {
  grid-column: 1;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.username {
  grid-column: 2;
  color: black;
}
