:root {
  --primary-color: rgb(81, 104, 54);
  --secondary-color: rgb(144, 151, 84);
  --bg-color: rgb(48, 52, 47);
  background-color: var(--bg-color);
}

body {
  color: #ffffff;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: 10fr 1fr;
  height: 95vh;
  width: 95vw;
  gap: 10px;
  margin-top:2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;

  justify-items: center;
}

.switcher-panel-container {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;

  grid-column: 1;
  grid-row: 1;

  width: 95%;
  
  word-break: break-word;
  overflow:hidden;
  border-radius: 10px;
}

.chat-window {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: scroll;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 4;

  width: 95%;
  height: 95%;

  border-radius: 10px;
}

.chat-input {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 1rem;
  padding: 1em;
  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;

  outline-style: none;
  border-radius: 100px;

  background-color: var(--primary-color);

  width: 95%;
  box-shadow: 0px 0px 0px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;
}

.chat-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--secondary-color);
  transition: box-shadow 0.25s ease-in-out;
}

.chat-extras-button {
  font-size: 1rem;
  padding: 1em;

  grid-column: 1;
  grid-row: 2;

  width: 75px;
  height: 75px;
  border-radius: 100%;

  background-color: var(--primary-color);
}

.chat-button {
  font-size: 1rem;
  padding: 1em;

  grid-column: 4;
  grid-row: 2;

  width: 75px;
  height: 75px;
  border-radius: 100%;
  
  background-color: var(--primary-color);
}

.chat-message-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  justify-items: center;
  align-items: start;
  width: 300px;
}

.chat-message-profile-picture {
  margin: 0;
  width: 50px;
  height: 50px;
  justify-self: end;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
  grid-row: 1 / span 2;
  grid-column: 1;
}

.chat-message-display-name {
  width: 100%;
  margin: 0;
  font-size:100%;
  grid-row: 1;
  grid-column: 2;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat-message-content {
  width: 100%;
  margin: 0;
  grid-row: 2;
  grid-column: 2;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.chat-message-content-no-avatar {
  width: 100%;
  margin: 0;
  grid-row: 2;
  grid-column: 2;
  margin-left: 100px;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}