*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  max-width: 100dvw;
  min-height: 0;
}

.panel-form {
  position: absolute;
  z-index: 1;
  right: 0;

  background-color: var(--disabled-primary);
  backdrop-filter: blur(10px);
  width: fit-content;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 10px;
  margin-top: 5px;
  padding: 50px;
  box-shadow: 0px 0px 10px var(--disabled-primary);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  grid-template-rows: min-content 15fr min-content;

  view-transition-name: wrapper;

  width: 100dvw;
  height: 100dvh;

  padding: 10px;

  min-height: 0;

  column-gap: 1em;
}

.tauri-wrapper {
  padding-top: 0px;
}

.chat-users-panel-container,
.switcher-panel-container {
  font-size: 1rem;
  margin-top: 1em;

  grid-row: 2;

  width: 100%;

  justify-self: center;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

.footnotes {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.footnote {
  font-size: 10px;
  text-justify: inter-cluster;
}

.panel-button {
  width: 100%;
  min-height: 75px;
}

.chat-users-panel-container {
  overflow: visible;
  width: 80%;
  transform-origin: left;
  grid-column: 3;
  padding-left: 0%;
  padding-right: 0%;
}

.switcher-panel-container {
  transform-origin: right;
  grid-column: 1;
}

.iframe-wrapper {
  margin-top: 1em;
  font-size: 1rem;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;
}

.chat-window {
  view-transition-name: chat-window;

  margin-top: 1em;

  font-size: 1rem;
  overflow: hidden;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  gap: 15px;

  display: grid;
  grid-template-rows: 1fr min-content;

  min-height: 0;
}

.chat-messages {
  background-color: var(--bg);
  border-radius: 18px;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 1rem;

  padding: 2em;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  min-height: 0;
}

.chat-mini-window {
  view-transition-name: chat-window;
  overflow: hidden;

  padding: 1em;
  padding-bottom: 0;

  grid-column: 3;
  grid-row: 2;

  width: 100%;

  gap: 15px;

  justify-self: center;

  display: grid;
  grid-template-rows: 1fr min-content;
}

.loading {
  place-content: center;
  place-items: center;
  flex-grow: 1;
}

.loading-animation {
  animation: loading 1s infinite;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+   */
  box-sizing: border-box;
  width: 25%;
}

@keyframes loading {
  0% {
    scale: 100%;
  }
  50% {
    scale: 125%;
  }
  100% {
    scale: 100%;
  }
}

.centered {
  text-align: center;
}

.user-profile-picture {
  grid-column: 1;
  width: 35px;
  height: 35px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.error-page {
  padding: 50px;
}

.error-message {
  font-weight: bold;
  font-style: italic;
  color: red;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  place-content: center;
}

@media screen and (max-width: 800px) {
  .chat-users-panel-container,
  .chat-mini-window,
  .switcher-panel-container {
    display: none;
    pointer-events: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .chat-window,
  .iframe-wrapper {
    grid-column: 1;
    min-width: 0;
  }
}
