*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;

  max-width: 100dvw;
}

.panel-form {
  position: absolute;
  z-index: 1;
  right: 0;

  background-color: var(--disabled-primary);
  backdrop-filter: blur(10px);
  width: fit-content;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 10px;
  margin-top: 5px;
  padding: 50px;
  box-shadow: 0px 0px 10px var(--disabled-primary);
}

.wrapper {
  view-transition-name: wrapper;
  padding: 15px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;

  gap: 1em;
}

.content-group {
  column-gap: 1em;
  width: 100%;
  height: 100%;
  overflow: visible;
}

[data-panel="true"] {
  overflow: visible !important;
}

.content-panel {
  overflow: visible;
}

.content-group-separator {
  background-color: var(--disabled-primary);
  opacity: 0.2;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 3px;
  justify-self: center;
  outline: none;
  transition: background-color 0.1s ease-in-out;
}

[data-separator="active"] {
  background-color: lightgreen;
}
.tauri-wrapper {
  padding-top: 0px;
}

.chat-users-panel-container,
.switcher-panel-container {
  font-size: 1rem;

  width: 100%;
  height: 100%;

  justify-self: center;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

.footnotes {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.footnote {
  font-size: 10px;
  text-justify: inter-cluster;
}

.panel-button {
  width: 100%;
  min-height: 75px;
}

.chat-users-panel-container {
  overflow: visible;
}

.iframe-wrapper {
  height: 100%;
  font-size: 1rem;
}

.chat-window {
  view-transition-name: chat-window;

  font-size: 1rem;
  overflow: hidden;
  word-break: break-word;

  gap: 15px;

  display: grid;
  grid-template-rows: 1fr min-content;

  min-height: 0;

  height: 100%;
}

.chat-messages {
  background-color: var(--bg);
  border-radius: 18px;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 1rem;

  padding: 2em;

  word-break: break-word;

  display: flex;
  flex-direction: column;

  min-height: 0;
}

.chat-mini-window {
  view-transition-name: chat-window;
  overflow: hidden;

  width: 100%;
  height: 100%;

  gap: 15px;

  justify-self: center;

  display: grid;
  grid-template-rows: 1fr min-content;
}

.loading {
  place-content: center;
  place-items: center;
  flex-grow: 1;
  pointer-events: none;
  user-select: none;
}

.loading-animation {
  animation: loading 1s infinite;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+   */
  box-sizing: border-box;
  width: 25%;
}

@keyframes loading {
  0% {
    scale: 100%;
  }
  50% {
    scale: 125%;
  }
  100% {
    scale: 100%;
  }
}

.centered {
  text-align: center;
}

.user-profile-picture {
  grid-column: 1;
  width: 35px;
  height: 35px;
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.error-page {
  padding: 50px;
}

.error-message {
  font-weight: bold;
  font-style: italic;
  color: red;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  place-content: center;
}
