:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-light);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-corner {
  display: none;
}

p {
  place-self: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

iframe,
form,
main,
div {
  border-radius: var(--roundness);
}

button {
  background-color: var(--primary);
  border-radius: var(--roundness);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  width: 100%;

  transition: background-color 0.25s;

  appearance: none;
  -webkit-appearance: none;
}

button:hover {
  background-color: var(--secondary);
}

button:active {
  background-color: var(--disabled-primary);
}

/* Thanks to https://www.iamsajid.com/ui-colors/ for this template/picker thing*/
:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(124, 16%, 17%);
  --bg: hsl(120, 7%, 22%);
  --bg-light: hsl(116, 36%, 68%);
  --text: hsl(116 100% 91%);
  --text-muted: hsl(116 27% 66%);
  --highlight: hsl(117 24% 35%);
  --border: hsl(117 33% 24%);
  --border-muted: hsl(119 57% 14%);
  --primary: hsl(117 31% 34%);
  --disabled-primary: hsla(117, 31%, 34%, 0.5);
  --secondary: hsl(116, 41%, 53%);
  /* oklch */
  --bg-dark: oklch(30% 0.03 145);
  --bg: oklch(34.596% 0.01739 145.292);
  --bg-light: oklch(61% 0.08 143);
  --text: oklch(0.96 0.08 143);
  --text-muted: oklch(0.76 0.08 143);
  --highlight: oklch(0.5 0.08 143);
  --border: oklch(0.4 0.08 143);
  --border-muted: oklch(0.3 0.08 143);
  --primary: oklch(0.5 0.1 143);
  --disabled-primary: oklch(50.127% 0.10113 142.811 / 0.5);
  --secondary: oklch(70.697% 0.16107 142.332);

  background-color: var(--bg-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    /* hsl (fallback color) */
    --bg-dark: hwb(115 88% 2%);
    --bg-light: hsl(0, 0%, 100%);
    --bg: hsl(0, 0%, 95%);
    --text: hsl(125 100% 2%);
    --text-muted: hsl(117 33% 24%);
    --highlight: hsl(116 100% 96%);
    --border: hsl(116 19% 47%);
    --border-muted: hsl(116 21% 58%);
    --primary: hsl(116 18% 58%);
    --secondary: hsl(116, 29%, 57%);

    /* oklch */
    --bg-dark: oklch(0.96 0.04 143);
    --bg-light: oklch(100% 0.00011 271.152);
    --bg: oklch(95.815% 0.00011 271.152);
    --text: oklch(0.15 0.08 143);
    --text-muted: oklch(0.4 0.08 143);
    --highlight: oklch(1 0.08 143);
    --border: oklch(0.6 0.08 143);
    --border-muted: oklch(0.7 0.08 143);
    --primary: oklch(69% 0.07 143);
    --secondary: oklch(70.36% 0.10885 142.897);

    background-color: var(--bg-light);
  }
}

:root {
  --roundness: 8px;
  --max-width-before-phone-mode: 800px;
}

::placeholder {
  color: var(--primary);
}

button {
  color: var(--text-color);
  box-shadow:
    0px 2px 2px oklch(0 0 0 / 0.2),
    0px 4px 4px oklch(0 0 0 / 0.1);
}

button:disabled {
  background-color: var(--disabled-primary);
}
